html, body, *{
  margin: 0;
  padding: 0;

  font-family: var(--roboto);
  font-weight: 300;

  box-sizing: border-box;

  color: var(--black-v2);
}

:root{
  --black: #030e12;
  --black-v2: #2d2d2d;

  --white: #ffffff;
  --white-grey: #E9E2C5;
  --white-cream: #f5eec2;

  --red: #ed3529;
  --red-v2: #c4332c;
  --red-v3: #cc4839;
  --red-kitkat: #ba0018;
  --red-light: #f15d59;
  --red-light-v2: #f1493d;

  --green: #416a59;
  --green-black: #282612;
  --green-forest: #73a24e;
  --green-grass: #a9c25d;

  --blue: #39395f;
  --blue-v2: #1b4d89;
  --blue-v3: #303179;
  --blue-cyan: #5bccf6;
  --blue-sky: #c8d8d4;
  --blue-sky-v2: #f2f2f2;

  --yellow: #fcde67;


  --roboto: 'Roboto', sans-serif;
}